@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@using BookManageSystem.Models
<div class="title">
    Books List
</div>
<div class="c">
    @if (ViewData["booksInfoList"] != null)
    {
        <br />
        <table border="1" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    BookName
                </th>
                <th>
                    CreateDate
                </th>
                <th>
                    States
                </th>
            </tr>
            @foreach (var booksInfo in (List<Books>)ViewData["booksInfoList"])
            {
                <tr>
                    <td>
                        @booksInfo.ID
                    </td>
                    <td>
                        @booksInfo.BookName
                    </td>
                    <td>
                        @booksInfo.CreateDate
                    </td>
                    <td>
                        @if (@booksInfo.States == "can borrow book")
                        {
                            <a href="javascript:void(0)" class="updateBookStates" ids="@booksInfo.ID">@booksInfo.States</a>
                        }
                        else
                        {
                            @booksInfo.States
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <span>Temporarily no data</span>
    }
</div>
<link href="~/style/easyui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.easyui.min.js"></script>
<script src="~/Scripts/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
    $(function () {
        $(".updateBookStates").click(function () {
            updateBookStates($(this).attr("ids"), $(this));
        });

        function updateBookStates(id, control) {
            $.messager.confirm("prompt", "Sure you want to borrow book?", function (r) {
                if (r) {
                    $.post("/Books/UpdateBookStates", { "id": id }, function (data) {
                        if (data == "ok") {
                            $.messager.alert("prompt", "Book update Success!", "info");
                            location.reload();
                        } else {
                            $.messager.alert("prompt", "Book update fail!", "info");
                        }
                    });
                }
            });
        }
    })
</script>


